@page
@model soft_eng_major_tp.Pages.Public.LibraryModel
@{
}

<main>
    <main class="container my-5">
        <section class="row gap-5 justify-content-center">
            <div class="col-lg-2 bg-danger px-0" style="height: 35vh">  
                <a asp-area="" asp-page="" style="text-decoration: none">
                    <img src="@Model.img2" alt=" ..." class="d-block w-100" style="height: 100%; object-fit: cover;">
                    <p class="w-100 h-100 text-center my-2 text-black">Game Title</p>
                </a>
            </div>
            <div class="col-lg-2 bg-danger px-0" style="height: 35vh">
                <a asp-area="" asp-page="" style="text-decoration: none">
                    <img src="@Model.img2" alt=" ..." class="d-block w-100" style="height: 100%; object-fit: cover;">
                    <p class="w-100 h-100 text-center my-2 text-black">Game Title</p>
                </a>
            </div>
            <div class="col-lg-2 bg-danger px-0" style="height: 35vh">
                <a asp-area="" asp-page="" style="text-decoration: none">
                    <img src="@Model.img2" alt=" ..." class="d-block w-100" style="height: 100%; object-fit: cover;">
                    <p class="w-100 h-100 text-center my-2 text-black">Game Title</p>
                </a>
            </div>
            <div class="col-lg-2 bg-danger px-0" style="height: 35vh">
                <a asp-area="" asp-page="" style="text-decoration: none">
                    <img src="@Model.img2" alt=" ..." class="d-block w-100" style="height: 100%; object-fit: cover;">
                    <p class="w-100 h-100 text-center my-2 text-black">Game Title</p>
                </a>
            </div>
            <div class="col-lg-2 bg-danger px-0" style="height: 35vh">
                <a asp-area="" asp-page="" style="text-decoration: none">
                    <img src="@Model.img2" alt=" ..." class="d-block w-100" style="height: 100%; object-fit: cover;">
                    <p class="w-100 h-100 text-center my-2 text-black">Game Title</p>
                </a>
            </div>
            <div class="col-lg-2 bg-danger px-0" style="height: 35vh">
                <a asp-area="" asp-page="" style="text-decoration: none">
                    <img src="@Model.img2" alt=" ..." class="d-block w-100" style="height: 100%; object-fit: cover;">
                    <p class="w-100 h-100 text-center my-2 text-black">Game Title</p>
                </a>
            </div>
            <div class="col-lg-2 bg-danger px-0" style="height: 35vh">  
                <a asp-area="" asp-page="" style="text-decoration: none">
                    <img src="@Model.img2" alt=" ..." class="d-block w-100" style="height: 100%; object-fit: cover;">
                    <p class="w-100 h-100 text-center my-2 text-black">Game Title</p>
                </a>
            </div>
            <div class="col-lg-2 bg-danger px-0" style="height: 35vh">
                <a asp-area="" asp-page="" style="text-decoration: none">
                    <img src="@Model.img2" alt=" ..." class="d-block w-100" style="height: 100%; object-fit: cover;">
                    <p class="w-100 h-100 text-center my-2 text-black">Game Title</p>
                </a>
            </div>
        </section>
    </main>
</main>